header, img, nav, ul, li, a, aside, h2, figure, figcaption, p, section, label, form, input, select, option, textarea, footer, body, html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
}
li {
  list-style: none;
}

body {
  line-height: 1.5;
}

img {
  width: 100%;
}
